html {
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.container {
  height: 100vh;
  width: 100vw;
  background-image: radial-gradient(circle at 100% 100%, rgb(73, 0, 73), black 70%);
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: whitesmoke;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  height: 70px;
}

h1 {
  font-size: 1.5rem;
  margin-left: 50px;
  cursor: pointer;
}

ul {
  display: flex;
  gap: 3rem;
  list-style: none;
  margin-right: 50px;
}

li {
  cursor: pointer;
  transition: color 0.1s ease;
  font-size: 1.2rem;
}

li:hover {
  color: rgb(173, 20, 173);
}

.wrapper {
  position: relative;
  height: 30%;
  width: 20%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5%;
  transition: all .5s ease;
}

.wrapper:hover {
  background-color: rgba(100, 4, 109, 0.5);
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, 
  rgba(240, 46, 170, 0.3) 10px 10px, 
  rgba(240, 46, 170, 0.2) 15px 15px, 
  rgba(240, 46, 170, 0.1) 20px 20px, 
  rgba(240, 46, 170, 0.05) 25px 25px;
  border: 1px solid white;
}

.wrapper p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  transition: all 0.5s ease-in-out;
}

.shape {
  position: absolute;
  opacity: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(85, 2, 60, 0.7);
  height: 200px;
  width: 160px;
  border-radius: 8%;
  transition: all 0.5s ease-in-out;
}

.wrapper:hover .shape:nth-child(1) {
  opacity: 1;
  left: -35%;
  top: 0;
}
.wrapper:hover .shape:nth-child(2) {
  opacity: 1;
  left: 60%;
  top: -30%
}
.wrapper:hover .shape:nth-child(3) {
  opacity: 1;
  left: -30%;
  top: 125%;
}
.wrapper:hover .shape:nth-child(4) {
  opacity: 1;
  left: 120%;
  top: 135%;
}
.wrapper:hover .shape:nth-child(5) {
  opacity: 1;
  left: 145%;
  top: 20%;
}

.overlay {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(85, 2, 60, 1);
  animation: slide-out 1.5s ease-in-out;
  animation-delay: 4s;
}

.overlay p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 5rem;
  transition: all 0.5s ease-in-out ;
}

.overlay .paint {
  position: relative;
  display: inline-block;
  z-index: 99;
  top: -350%;
  height: 4000px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.overlay .paint:nth-child(1) {
  width: 10%;
  background-color: rgba(240, 46, 170, 1);
  animation: drip 8s ease-in-out ;
  animation-delay: 0.5s;
}

.overlay .paint:nth-child(2) {
  width: 8%;
  background-color: rgb(128, 120, 125);
  animation: drip 8s ease-in-out ;
  animation-delay: 1s;
}

.overlay .paint:nth-child(3) {
  width: 9%;
  background-color: rgb(8, 5, 7);
  animation: drip 8s ease-in-out ;
  animation-delay: 1.5s;
}

.overlay .paint:nth-child(4) {
  width: 5%;
  background-color: rgba(214, 75, 163, 1);
  animation: drip 8s ease-in-out ;
  animation-delay: .5s;
}

.overlay .paint:nth-child(5) {
  width: 11%;
  background-color: rgba(17, 16, 17, 1);
  animation: drip 8s ease-in-out ;
  animation-delay: 1s;
}

.overlay .paint:nth-child(6) {
  width: 7%;
  background-color: rgb(197, 184, 192);
  animation: drip 8s ease-in-out ;
  animation-delay: 1.2s;
}

.overlay .paint:nth-child(7) {
  width: 10%;
  background-color: rgba(240, 46, 170, 1);
  animation: drip 8s ease-in-out ;
  animation-delay: .5s;
}

.overlay .paint:nth-child(8) {
  width: 11%;
  background-color: rgba(22, 21, 22, 1);
  animation: drip 8s ease-in-out ;
  animation-delay: 1;
}

.overlay .paint:nth-child(9) {
  width: 6%;
  background-color: rgba(180, 173, 178, 1);
  animation: drip 8s ease-in-out ;
  animation-delay: .7s;
}

.overlay .paint:nth-child(10) {
  width: 9%;
  background-color: rgba(240, 46, 170, 1);
  animation: drip 8s ease-in-out ;
  animation-delay: 1s;
}

.overlay .paint:nth-child(11) {
  width: 10%;
  background-color: rgba(15, 13, 14, 1);
  animation: drip 8s ease-in-out ;
  animation-delay: .6s;
}

@keyframes drip {
  0% {
    top: -350%;
  }
  100% {
    top: 100%;
  }
}

@keyframes slide-out {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
    display: none;
  }
}



