

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #222831;
}

#canvas {
  display: inline-block;
  height: 100vh;
  width: 100vw;
}

nav {
  display: flex;
  position: sticky;
  top: 0;
  height: 60px;
  align-items: center;
  background-color: #393e46;
  color: #d2ebcd;
  border-bottom: 3px solid #d2ebcd;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  list-style: none;
}

nav li {
  text-align: center;
  cursor: pointer;
  transition: color 0.1s ease;
  font-size: 1.2rem;
}

nav li:hover {
  color: #f96d00;
}

.intro {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  color: #d2ebcd;
  font-weight: 600;
  transition: all .5s ease;
  animation: fade-in 3s ease-in-out;
}

.intro p:first-child {
  font-size: 3.5rem;
}

.intro p:nth-child(2) {
  font-size: 3rem;
}

.intro p span {
  background-color: #f3ec78;
    background-image: linear-gradient(45deg, #994606 , #68014b 80%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.container-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: fit-content;
}

.container-about h2 {
  font-size: 4rem;
  margin-bottom:  100px;
  margin-top: 100px;
  color: #d2ebcd;
}

.container-about h2 span {
  color: #f96d00;
}

.me {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 300px;
}

.me p {
  font-size: 1.4rem;
  width: 500px;
  color: #d2ebcd;
}

.me p span {
  font-size: 1.7rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.me p span:hover {
  text-shadow: 1px 1px 5px #994606, 1px 1px 5px #68014b;
}

.img-wrapper {
  position: relative;
  z-index: -10;
  width: 500px;
  height: 500px;
  overflow: hidden;
  border-radius: 40%;
  border: 3px solid #f96d00;
}

img {
  position: absolute;
  object-fit: cover;
}

.container-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1200px;
}

.container-contact h2 {
  font-size: 4rem;
  margin-bottom: 60px;
  margin-top: 100px;
  color: #d2ebcd;
}

.container-contact h2 span {
  color: #f96d00;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact h3 {
  font-size: 1.5rem;
  margin-bottom: 50px;
  color: #f96d00;
}

.contact form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 650px;
}

.contact form input {
  width: 100%;
  height: 40px;
  background-color: #13171d;
  color: #d2ebcd;
  margin-bottom: 5px;
  padding-left: 10px;
  border: none;
  border-radius: 2px;
  outline: none;
}

.contact form input:focus {
  border: 1px solid #f96d00;
}

.contact form textarea {
  width: 100%;
  height: 200px;
  background-color: #13171d;
  color: #d2ebcd;
  margin-bottom: 10px;
  padding-left: 10px;
  border: none;
  border-radius: 2px;
  outline: none;
}

.contact form textarea:focus {
  border: 1px solid #f96d00;
}

.contact form button {
  width: 150px;
  height: 50px;
  align-self: flex-end;
  color: #d2ebcd;
  font-weight: 600;
  letter-spacing: 2px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #d2ebcd;
  cursor: pointer;
  transition: all .2s ease;
}

.contact form button:hover {
  background-color: #d2ebcd;
  color: #13171d;
}

footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  background-color: #13171d;
  color: #d2ebcd;
}

.footer-icon-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
  background-color: #f96d00;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

.footer-icon-wrapper img {
  width: 90%;
}

.overlay {
  --color1: rgba(24, 12, 20, 1);
  --color2: rgba(13, 226, 77, 1);
  --color3: rgb(46, 6, 31);
  position: absolute;
  overflow: hidden;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(20, 2, 15);
  animation: slide-out 1.5s ease-in-out;
  animation-delay: 4s;
}

.overlay p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 5rem;
  transition: all 0.5s ease-in-out ;
}

.overlay .paint {
  position: relative;
  display: inline-block;
  z-index: 99;
  top: -350%;
  height: 4000px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.overlay .paint:nth-child(1) {
  width: 10%;
  background-color: var(--color1);
  animation: drip 8s ease-in-out ;
  animation-delay: 0.5s;
}

.overlay .paint:nth-child(2) {
  width: 8%;
  background-color: var(--color2);
  animation: drip 8s ease-in-out ;
  animation-delay: 1s;
}

.overlay .paint:nth-child(3) {
  width: 9%;
  background-color: var(--color3);
  animation: drip 8s ease-in-out ;
  animation-delay: 1.5s;
}

.overlay .paint:nth-child(4) {
  width: 5%;
  background-color: var(--color1);
  animation: drip 8s ease-in-out ;
  animation-delay: .5s;
}

.overlay .paint:nth-child(5) {
  width: 11%;
  background-color: var(--color2);
  animation: drip 8s ease-in-out ;
  animation-delay: 1s;
}

.overlay .paint:nth-child(6) {
  width: 7%;
  background-color: var(--color3);
  animation: drip 8s ease-in-out ;
  animation-delay: 1.2s;
}

.overlay .paint:nth-child(7) {
  width: 10%;
  background-color: var(--color1);
  animation: drip 8s ease-in-out ;
  animation-delay: .5s;
}

.overlay .paint:nth-child(8) {
  width: 11%;
  background-color: var(--color2);
  animation: drip 8s ease-in-out ;
  animation-delay: 1;
}

.overlay .paint:nth-child(9) {
  width: 6%;
  background-color: var(--color3);
  animation: drip 8s ease-in-out ;
  animation-delay: .7s;
}

.overlay .paint:nth-child(10) {
  width: 9%;
  background-color: var(--color1);
  animation: drip 8s ease-in-out ;
  animation-delay: .5s;
}

.overlay .paint:nth-child(11) {
  width: 10%;
  background-color: var(--color2);
  animation: drip 8s ease-in-out ;
  animation-delay: .9s;
}

/* @keyframes drip {
  0% {
    top: -350%;
  }
  100% {
    top: 100%;
  }
}

@keyframes slide-out {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
    display: none;
  }
}

@keyframes slide-in {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 100vh;
    opacity: 1;
  }
}
  


@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes float-around {
  0% {
    --x: 100%;
    --y: 100%;
  }
  25% {
    --x: 40%;
    --y: 70%;
  }
  50% {
    --x: 0%;
    --y: 0%;
  }
  75% {
    --x: 70%;
    --y: 40%;
  }
  100% {
    --x: 100%;
    --y: 100%;
  }

} */



