

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #222831;
}

#canvas {
  display: inline-block;
  height: 100vh;
  width: 100vw;
}

nav {
  display: flex;
  position: sticky;
  top: 0;
  height: 60px;
  align-items: center;
  background-color: #393e46;
  color: #d2ebcd;
  border-bottom: 3px solid #d2ebcd;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 100%;
  list-style: none;
}

nav li {
  text-align: center;
  cursor: pointer;
  transition: color 0.1s ease;
  font-size: 1.2rem;
}

nav li:hover {
  color: #f96d00;
}

.intro {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  color: #d2ebcd;
  font-weight: 600;
  transition: all .5s ease;
  animation: fade-in 3s ease-in-out 1s forwards;
  animation-delay: 2s;
}

.intro p:first-child {
  font-size: 3.5rem;
}

.intro p:nth-child(2) {
  font-size: 3rem;
}

.intro p span {
  background-color: #f3ec78;
    background-image: linear-gradient(45deg, #994606 , #68014b 80%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.intro-arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  z-index: -1;
  bottom: -67px;
  left: 50%;
  height: 50px;
  transform: translateX(-50%);
  animation: arrow-bounce 3s ease-in-out 2s infinite;
}

.intro-arrow p {
  color: #d2ebcd;
}

.intro-arrow img {
  display: block;
  transform: rotate(180deg);
  filter: invert(94%) sepia(8%) saturate(604%) hue-rotate(60deg) brightness(99%) contrast(88%);
}

.container-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: fit-content;
}

.container-about h2 {
  font-size: 4rem;
  margin-bottom:  100px;
  margin-top: 100px;
  color: #d2ebcd;
  text-shadow:  0 1px 0px black,
  1px 0 0px black,
  1px 2px 1px black,
  2px 1px 1px black,
  2px 3px 2px black,
  3px 2px 2px black;
}

.container-about h2 span {
  color: #f96d00;
}

.me {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 300px;
}

.me p {
  font-size: 1.4rem;
  width: 500px;
  color: #d2ebcd;
}

.me p span {
  font-size: 1.7rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.me p span:hover {
  text-shadow: 1px 1px 5px #994606, 1px 1px 5px #68014b;
}

.img-wrapper {
  position: relative;
  z-index: -10;
  width: 500px;
  height: 500px;
  overflow: hidden;
  border-radius: 40%;
  border: 3px solid #f96d00;
}

.img-wrapper img {
  position: absolute;
  object-fit: cover;
}

.container-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 1200px;
}

.container-skills h2 {
  font-size: 4rem;
  margin-bottom: 60px;
  margin-top: 100px;
  color: #d2ebcd;
  text-shadow:  0 1px 0px black,
  1px 0 0px black,
  1px 2px 1px black,
  2px 1px 1px black,
  2px 3px 2px black,
  3px 2px 2px black;
}

.row {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.column.left {
  justify-content: space-around;
}

.skill {
  position: relative;
  z-index: -10;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.skill-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  border: 3px solid #f96d00;
}

.skill-img-wrapper p {
  position: absolute;
  bottom: -40px;
  font-size: 1.8rem;
  color: #d2ebcd;
}

.skill-img-wrapper .rose {
  height: 130px;
  width: 130px;
}

.skill-img-wrapper .lock{
  height: 130px;
  width: 130px;
}

.skill-img-wrapper img {
  height: 150px;
  width: 150px;
}

.skill-caption {
  font-size: 1.2rem;
  color: #d2ebcd;
  width: 50%;
}

.container-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 1200px;
}

.container-projects h2 {
  font-size: 4rem;
  margin-bottom: 60px;
  margin-top: 100px;
  color: #d2ebcd;
  text-shadow:  0 1px 0px black,
  1px 0 0px black,
  1px 2px 1px black,
  2px 1px 1px black,
  2px 3px 2px black,
  3px 2px 2px black;
}

.container-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1200px;
}

.container-contact h2 {
  font-size: 4rem;
  margin-bottom: 60px;
  margin-top: 100px;
  color: #d2ebcd;
  text-shadow:  0 1px 0px black,
  1px 0 0px black,
  1px 2px 1px black,
  2px 1px 1px black,
  2px 3px 2px black,
  3px 2px 2px black;
}

.container-contact h2 span {
  color: #f96d00;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact h3 {
  font-size: 1.5rem;
  margin-bottom: 50px;
  color: #f96d00;
}

.contact form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 650px;
}

.contact form input {
  width: 100%;
  height: 40px;
  background-color: #13171d;
  color: #d2ebcd;
  margin-bottom: 5px;
  padding-left: 10px;
  border: none;
  border-radius: 2px;
  outline: none;
}

.contact form input:focus {
  border: 1px solid #f96d00;
}

.contact form textarea {
  width: 100%;
  height: 200px;
  background-color: #13171d;
  color: #d2ebcd;
  margin-bottom: 10px;
  padding-left: 10px;
  border: none;
  border-radius: 2px;
  outline: none;
}

.contact form textarea:focus {
  border: 1px solid #f96d00;
}

.contact form button {
  width: 150px;
  height: 50px;
  align-self: flex-end;
  color: #d2ebcd;
  font-weight: 600;
  letter-spacing: 2px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #d2ebcd;
  cursor: pointer;
  transition: all .1s ease;
}

.contact form button:hover {
  background-color: #d2ebcd;
  color: #13171d;
  outline: 1px solid #d2ebcd;
  outline-offset: 3px;
}

footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  background-color: #13171d;
  color: #d2ebcd;
}

.footer-icon-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
  background-color: #f96d00;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

.footer-icon-wrapper img {
  width: 90%;
}

@keyframes arrow-bounce {
  10% {
    bottom: 0;
  }
  35% {
    bottom: 0px;
  }
  40% {
    bottom: 8px;
  }
  45% {
    bottom: 3px;
  }
  50% {
    bottom: 8px;
  }
  55% {
    bottom: 3px;
  }
  60% {
    bottom: 8px;
  }
  65% {
    bottom: 0px;
  }
  90% {
    bottom: 0px;
  }
  
}




